﻿<div class="block-header">
    <h2>
        Empresas
    </h2>
</div>
<!-- Basic Examples -->
<div class="row clearfix" style="height:200px;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Manutenção de empresas
                </h2>

                <!-- Menu -->
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
            <div class="body">
                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                    <thead>
                        <tr>
                            <th style="width: 50%">Nome</th>
                            <th>CNPJ</th>
                            <th>Status</th>
                            <th style="width: 10%"></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nome</th>
                            <th>CNPJ</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </tfoot>

                    <!-- Content -->
                    <tbody>
                        <tr>
                            <td>Fidelize You</td>
                            <td>91.926.719/0001-03</td>
                            <td>Ativa</td>
                            <td>
                                <a href="Empresa/Manutencao/0"><i class="material-icons">edit</i></a>
                                <a href="#"><i class="material-icons">delete</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Liberty Seguros</td>
                            <td>00.000.000/0000-00</td>
                            <td>Ativa</td>
                            <td>
                                <a href="Empresa/Manutencao/0"><i class="material-icons">edit</i></a>
                                <a href="#"><i class="material-icons">delete</i></a>
                            </td>
                        </tr>
                    </tbody>
                    <!-- Content -->

                </table>
            </div>
        </div>
    </div>
</div>
<!-- #END# Basic Examples -->
