﻿<div class="block-header">
    <h2>@ViewBag.TitleManutencao</h2>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <form class="demo-masked-input">
                    
                    <!-- Nome da empresa -->
                    <label for="nome">Nome da Empresa</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" id="nome" class="form-control" placeholder="Digite o nome da empresa">
                        </div>
                    </div>

                    <!-- CNPJ -->
                    <label for="cnpj">CNPJ</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" class="form-control cnpj" placeholder="Ex: 00.000.000/0000-00">
                        </div>
                    </div>

                    <h2 class="card-inside-title">
                        Usuário Supervisor
                    </h2>

                    <!-- Nome do usuário supervisor -->
                    <label for="nome_usuario">Nome</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" id="nome_usuario" class="form-control" placeholder="Digite o nome do usuário supervisor">
                        </div>
                    </div>

                    <!-- Email usuário supervisor -->
                    <label for="email-usuario">Email de acesso</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" class="form-control email" placeholder="Ex: example@example.com">
                        </div>
                    </div>

                    <!-- Senha -->
                    <label for="password">Senha</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="password" id="password" class="form-control" placeholder="Digite sua senha">
                        </div>
                    </div>

                    <!-- Confirmar senha -->
                    <label for="password2">Confirmar senha</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="password" id="password2" class="form-control" placeholder="Digite sua senha novamente">
                        </div>
                    </div>

                    <h2 class="card-inside-title">
                        Regra de pontuação
                        <small><strong>A cada R$ 10 premiar o cliente com 5 pontos</strong></small>
                    </h2>

                    <!-- R$ -->
                    <label for="total_reais">R$</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" id="total_reais" class="form-control" placeholder="A cada R$ 10">
                        </div>
                    </div>

                    <!-- Ponto(s) -->
                    <label for="total_pontos">Ponto(s)</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" id="total_pontos" class="form-control" placeholder="Ganhará 5 pontos">
                        </div>
                    </div>

                    <!-- Mensagem -->
                    <label for="mensagem">Mensagem</label>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <textarea id="mensagem" rows="4" class="form-control no-resize" placeholder="Mensagem que será exibida no aplicativo"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <button type="button" class="btn btn-primary m-t-15 waves-effect">LOGIN</button>
                </form>
            </div>
        </div>
    </div>
</div>