﻿<div class="legal">
    <div class="copyright">
        &copy; @DateTime.Now.Year <a href="javascript:void(0);"> - Fidelize You</a>.
    </div>
    <div class="version">
        <b>Version: </b> 1.0
    </div>
</div>