﻿<div class="menu">
    <ul class="list">
        <li class="header">MENU</li>
        
        <!-- Dashboard -->
        <li>
            <a href="/">
                <i class="material-icons">pie_chart</i>
                <span>Dashboard</span>
            </a>
        </li>

        <!-- Lista de Empresas -->
        <li>
            <a href="/Empresa">
                <i class="material-icons"></i>
                <span>Empresas</span>
            </a>
        </li>

        <!-- Minhas Configurações -->
        <li>
            <a href="/Empresa/MinhasConfiguracoes">
                <i class="material-icons"></i>
                <span>Minhas Configurações</span>
            </a>
        </li>

        <!-- Clientes -->
        <li>
            <a href="/Cliente">
                <i class="material-icons"></i>
                <span>Clientes</span>
            </a>
        </li>
    </ul>
</div>