﻿@model FY.Retaguarda.MVC.V1.ViewModel.ClienteViewModel
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="block-header">
    <h2>Editar cliente</h2>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">

                @using (Html.BeginForm("Editar", "Cliente", FormMethod.Post, new { @class = "demo-masked-input" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <!-- Nome -->
                    @Html.LabelFor(model => model.Nome)
                    <div class="form-group">
                        <div class="form-line">
                            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite o nome do cliente" } })
                            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!-- Data de Nascimento -->
                    @Html.LabelFor(model => model.DataNascimento)
                    <div class="form-group">
                        <div class="">
                            @Html.EditorFor(model => model.DataNascimento, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control data",
                               @placeholder = "Ex: 25/02/2017"
                           }
                       })
                            @Html.ValidationMessageFor(model => model.DataNascimento, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!-- Gênero -->
                    @Html.LabelFor(model => model.Genero)
                    <div class="form-group">
                        <div class="form-line">
                            <input name="Genero" value="Masculino" type="radio" id="Genero_M" @Html.Raw(Model.Genero == FY.Retaguarda.Domain.ObjectsValue.EnumGenero.Masculino ? "checked" : "") class="with-gap radio-col-amber">
                            <label for="Genero_M">Masculino</label>

                            <input name="Genero" value="Feminino" type="radio" id="Genero_F" @Html.Raw(Model.Genero == FY.Retaguarda.Domain.ObjectsValue.EnumGenero.Feminino ? "checked" : "") class="with-gap radio-col-amber">
                            <label for="Genero_F">Feminino</label>

                            <input name="Genero" value="SemGenero" type="radio" id="Genero_S" @Html.Raw(Model.Genero == FY.Retaguarda.Domain.ObjectsValue.EnumGenero.SemGenero ? "checked" : "") class="with-gap radio-col-amber">
                            <label for="Genero_S">Outros</label>
                        </div>
                    </div>

                    <!-- CPF -->
                    @Html.LabelFor(model => model.CPF)
                    <div class="form-group">
                        <div class="form-line">
                            @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control cpf", @placeholder = "Ex: 000.000.000-00" } })
                            @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })
                        </div>
                    </div>

                      <!-- Email  -->
                    @Html.LabelFor(model => model.Email)
                    <div class="form-group">
                        <div class="form-line">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control email", @placeholder = "Ex: exemplo@exemplo.com" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                     <!-- Celular -->
                    @Html.LabelFor(model => model.Celular)
                    <div class="form-group">
                        <div class="form-line">
                            @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control cel", @placeholder = "Ex: (99) 99999-9999" } })
                            @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <input type="submit" value="Salvar" class="btn btn-primary m-t-15 waves-effect" />
                }

            </div>
        </div>
    </div>
</div>


@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>ClienteViewModel</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CPF, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DataNascimento, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DataNascimento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DataNascimento, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Celular, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DataCadastro, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DataCadastro, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DataCadastro, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TotalPontos, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TotalPontos, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TotalPontos, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EmpresaId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EmpresaId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmpresaId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
