﻿@model IEnumerable<FY.Retaguarda.Domain.Entities.Cliente>
<div class="block-header">
    <h2>Clientes</h2>
</div>
<div class="row clearfix" style="height:200px;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Manutenção de clientes
                </h2>
                <!-- [Menu] -->
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- [/Menu]-->

            </div>
            <div class="body">
                <a href="/Cliente/Novo" class="btn bg-purple waves-effect">Novo Cliente</a>
                <br />
                <br />
                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                    <thead>
                        <tr>
                            <th style="width: 30%;">Nome</th>
                            <th>CPF</th>
                            <th>Celular</th>
                            <th>E-mail</th>
                            <th style="width: auto">Dt. Nascimento</th>
                            <th style="width: 10%"></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Celular</th>
                            <th>E-mail</th>
                            <th>Dt. Nascimento</th>
                            <th></th>
                        </tr>
                    </tfoot>

                    <!-- [Content] -->
                    <tbody>
                        @foreach(var m in Model){
                            <tr>
                                <td>@m.Nome</td>
                                <td>@m.CPF</td>
                                <td>@m.Celular</td>
                                <td>@m.Email</td>
                                <td>@m.DataNascimento.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <a href="/Cliente/Editar/@m.ClienteId"><i class="material-icons">edit</i></a>
                                    <a href="#"><i class="material-icons">delete</i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <!-- [/Content] -->

                </table>
            </div>
        </div>
    </div>
</div>
